*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*--------------------Header qismi---------------------*/
header{
    width: 100%;
    height: 120px;
    background-color: #191919;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        font-size: 42px;
        font-weight: 500;
        color: white;
        padding: 43.08px 0px 43.3px 50.58px;
        font-family: sans-serif;
    }
    ul{
        list-style: none;
        display: flex;
        padding: 46px 70px 46px 0px;
        li{
            margin-left: 40px;
            transition: all 2s;
            a{
                text-decoration: none;
                color: white;
                font-size: 17px;
                font-weight: 400;
                line-height: 27px;
                &:hover{
                    color: rgb(58, 199, 255);
                }
            }
            
        }
    }
}
/*--------------------Header qismi tugashi-------------*/

/*------------------Home----------------------------------*/
.home{
    width: 100%;
    height: 913px;
    background-color: #191919;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 130px 0 100px;
    .homimg{
        width: 650px;
        height: 823px;
    }
    div{
        width: 530px;
        height: 610.58px;
        padding: 145px 100px 0px 0px;
        p{
            font-size: 55px;
            font-weight: 500;
            line-height: 88px;
            padding-left: 0px;
            color: rgba(255, 255, 255, 0.749);
            strong{
                font-weight: 800;
                font-size: 65px;
            }
        }  
        h6{
            font-size: 15px;
            color: rgba(255, 255, 255, 0.795);
            margin: 70px 20px ;
        }
        .spoti{
            width: 260px;
            height: 35px;
            margin-left: 20px;
        }
    }
}
/*------------------Home tugashi--------------------------*/

/*------------------------Cardpage---------------------------*/
.cardpage{
    width: 100%;
    height: 2088px;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .lat{
        width: 1400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            font-size: 64px;
            font-weight: 400;
            line-height: 79px;
            letter-spacing: 2px;
            color: white;
            margin-top: -50px;
        }
        button{
            background-color: #118DA8;
            width: 178px;
            height: 51px;
            border-radius: 6px;
            color: white;
            font-size: 17px;
            font-weight: 300;
            line-height: 27px;
        }
    }
    .cards{
        width: 1400px;
        height: 1709px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .card{
            width: 100%;
            height: 545px;
            background-color: black;
            border-radius: 32px;
            display: flex;
            img{
                width: 390px;
                height: 465px;
                margin: 40px 0px 40px 40px;
            }
            .cardtext{
                width: 780px;
                height: 465px;
                margin: 41px 40px 40px 63px;
                .b1{
                    width: 75px;
                    height: 30px;
                    background-color: #191919;
                    color: white;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                    margin-top: 7px;
                    border-radius: 6px;
                }
                .b2{
                    background-color: #118DA8;
                    width: 178px;
                    height: 51px;
                    border-radius: 6px;
                    color: white;
                    font-size: 17px;
                    font-weight: 300;
                    line-height: 27px;
                    margin-top: 22px;
                }
                .b4{
                    margin-top: 52px;
                }
                .b3{
                    width: 140px;
                    height: 30px;
                    border-radius: 6px;
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 27px;
                    background-color: #191919;
                    color: white;
                    margin-top: 7px;
                }
                h6{
                    font-size: 19px;
                    font-weight: 600;
                    line-height: 27px;
                    color: #118DA8;
                    margin-top: 40px;
                }
                h1{
                    font-size: 76px;
                    font-weight: 700;
                    line-height: 72px;
                    letter-spacing: 1px;
                    color: white;
                    margin-top: 22px;
                }
                p{
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 30px;
                    color: rgba(255, 255, 255, 0.75);
                    margin-top: 30px;
                }
            }
        }
    }
}
/*------------------------Cardpage tugashi-------------------*/

/*--------------------About Us----------------------------------*/
.about{
    width: 1519px;
    height: 1700px;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .carde{
        width: 1400px;
        height: 760px;
        display: flex;
        .atext{
               width: 610px;
               height: 460px;
               display: flex;
               flex-direction: column;
               margin: 380px 40px 0px 90px;
        h6{
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            color: #118DA8;
            margin-top: 30px;
        }
        h1{
            font-size: 64px;
            font-weight: 800;
            line-height: 27px;
            color: white;
            margin-top: 10px;
        }
        p{
            color: rgba(255, 255, 255, 0.828);
            font-size: 21px;
            font-weight: 400px;
            line-height: 30px;
            margin-top: 40px;
        }
        div{
            width: 100px;
            height: 100px;
            background-color: #118DA8;
            border-radius: 50%;
            img{
                width: 60px;
                height: 38px;
                margin: 31px 19px;
            }
        }
          }
          img{
              width: 660px;
              height: 755px;
              margin: 240px 70px 120px 40px;
          }
    }
    .submit{
        width: 1400px;
        height: 400px;
        background-color: black;
        margin-bottom: 100px;
        border-radius: 32px;
        display: flex;
        .sub{
            width: 670px;
            height: 340px;
            margin: 0px 0px 60px 0px;
            display: flex;
            flex-direction: column;
            h6{
                font-size: 18px;
                font-weight: 500;
                line-height: 27px;
                color: #118DA8;
                margin: 60px 0px 0px 60px;
            }
            h1{
                font-size: 72px;
                line-height: 80px;
                font-weight: 600;
                color: white;
                margin: 0px 0px 260px 58px;
            }
        }
        .inpat{
            width: 530px;
            height: 260px;
            margin: 70px 0px 0px 120px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            input{
                width: 100%;
                height: 82px;
                background-color: #191919;
                color: rgba(255, 255, 255, 0.881);
                font-size: 25px;
                font-weight: 500;
                line-height: 29px;
                border: none;
                padding-left: 30px;
            }
            button{
                width: 90px;
                height: 50px;
                background-color: #118DA8;
                color: rgba(255, 255, 255, 0.823);
                border-radius: 7px;
                font-size: 15px;
                font-weight: 600;
                line-height: 28px;
            }
        }
    }
}
/*--------------------About Ud tugashi----------------------------*/

/*-----------------------Contact Us-----------------------------------*/
.contact{
    width: 1519px;
    height: 910px;
    background-color: #191919;
    padding: 100px 100px;
    .con_cardss{
        width: 1310px;
        height: 705px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .con_cards{
            width: 100%;
            height: 345px;
            display: flex;
            justify-content: space-between;
            .con_card{
                width: 424px;
                height: 343px;
                display: flex;
                flex-direction: column;
                background-color: black;
                border-radius: 34px;
                .imges{
                    width: 94px;
                    height: 17px;
                    display: flex;
                    justify-content: space-between;
                    margin: 55px 0px 0px 52px;
                }
                p{
                    font-size: 37px;
                    font-weight: 700;
                    line-height: 44px;
                    color: white;
                    margin: 22px 62px 0px 52px;
                }
                h5{
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 29px;
                    color: rgba(255, 255, 255, 0.798);
                    margin: 20px 0px 0px 52px;
                }
            }
        }
    }
}
/*------------------------Contact Us tugashi---------------------------*/

/*---------------------------Futer--------------------------------*/
.futer{
    width: 1519px;
    height: 440px;
    background-color: #191919;
    padding: 150px 80px 0px 60px;
    .futr{
        width: 1400px;
        height: 240px;
        display: flex;
        .cas{
            width: 450px;
            height: 240px;
            display: flex;
            flex-direction: column;
            h1{
                font-size: 62px;
                font-weight: 700;
                color: white;
                font-family: sans-serif;
            }
            img{
                width: 100%;
                margin-top: 25px;
            }
        }
        .ul{
            width: 180px;
            height: 240px;
            transition: all 2s;
            ul{
                list-style: none;
                li{
                    margin: 0px 0px 20px 0px;
                    a{
                        text-decoration: none;
                        color: white;
                        &:hover{
                            color: #118DA8;
                        }
                    }
                }
            }
        }
        img{
            width: 220px;
            height: 30px;
            margin: 10px 0px 0px 20px;
        }
        .url{
            width: 200px;
            height: 240px;
            ul{
                list-style: none;
                li{
                    margin: 0px 0px 15px 0px;
                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }
}
/*---------------------------Futer tugashi------------------------*/